*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    background-color: #006400;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .logo a img {
    max-height: 50px;
    padding-left: 25px;
  }
  
  nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    list-style: none;
    margin-left: 20px;
  }
  
  nav ul li:first-child {
    margin-left: 0;
  }
  
  nav ul li a {
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  @media only screen and (max-width: 768px) {
  
    header {
      flex-wrap: wrap;
    }
  
    .logo {
      flex-basis: 100%;
      margin-bottom: 10px;
      text-align: center;
    }
  
    nav {
      flex-basis: 100%;
      justify-content: center;
    }
  
    nav ul li {
      margin: 0 10px;
    }
  }